* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.navbar {
  background-color: #333;
  padding: 0 !important;
}

.navbar-ul {
  width: 100%;
  font-size: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-li {
  display: flex;
  align-items: center;
}

a {
  color: white !important;
}

a:hover {
  color: black !important;
}

@media (max-width: 365px) {
  .navbar-ul {
    flex-direction: column;
    align-items: center;
  }
}
