* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px !important;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1%;
}

.label-form {
  width: 100%;
  display: block;
  padding: 1%;
  text-align: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: green;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

button {
  background-color: green;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #3e8e41;
}

.btn_form{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}