body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2%;
}

label {
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="number"]#price {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  height: 38px;
}

input[type="submit"] {
  background-color: green;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 100px;
  min-height: 100px;
}

button {
  background-color: green;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #3e8e41;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}

#report-type {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

#submit_btn {
  width: 100%;
}
